.container-wallet {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
}

.main-wallet{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
}

.main-wallet-form{
  align-items: center;
  background-color: #1a1d24;;
  border: 4px solid #61dafb;
  color: #61dafb;
  font-size: calc(5px + 2vmin);
  display: flex;
  justify-content: center;
  padding: 2% 0;
}
